@model CYBInfracstructure.DataStructure.Entities.CredentialSetup

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Edit Credential</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>CredentialSetup</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)



    <div class="form-group">
        <label class="control-label col-md-2"> Host Username</label>
        <div class="col-md-3">
            @Html.EditorFor(model => model.HostUsername, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HostUsername, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Host Password</label>
        <div class="col-md-3">
            @Html.EditorFor(model => model.HostPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HostPassword, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-md-6"> Sever</label>
        <div class="col-md-3">
            <select name="InventoryId" class="form-control">
                <option>Select Sever Name</option>
                @foreach (var item in ViewBag.Inventories)
                {
                    @*<option id="@item.Id" value="@item.Id">@item.ServerName</option>*@
                    <option id="@item.Id" value="@item.Id">@item.ServerName</option>


                }
            </select>
            @Html.ValidationMessageFor(model => model.Inventories, "", new { @class = "text-danger" })


        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Server Username</label>
        <div class="col-md-3">
            @Html.EditorFor(model => model.ServerUsername, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ServerUsername, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Server Password</label>
        <div class="col-md-3">
            @Html.EditorFor(model => model.ServerPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ServerPassword, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-md-6"> List Of Host</label>
        <div class="col-md-3">
            <select name="HostId" class="form-control">
                <option>Select Host</option>
                @foreach (var item in ViewBag.Hosts)
                {
                    <option id="@item.id" value="@item.id">@item.HostName</option>

                }
            </select>
            @Html.ValidationMessageFor(model => model.Hosts, "", new { @class = "text-danger" })


        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Date</label>
        <div class="col-md-3">
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want Add?')" />
        </div>
    </div>
</div>
}

<div class="col-md-6">
    @Html.ActionLink("Back to List", "Index")
</div>
