@model CYBInfrastructure.Web.Models.CredSetupListViewModel
@{
    ViewBag.Title = "Credentials";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<h2>Manage Location</h2>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Credential Setup</h4>
                <p class="text-muted font-13 mb-4">
                    List of Servers and Host
                </p>
                @if (HttpContext.Current.Session["UserRole"] == null)
                {
                    <p class="text-muted font-13 mb-4">
                        <a class="btn btn-primary" style=" margin-bottom:10px" href="/Credential/Create"><i class="fa fa-plus"></i> Add New</a>


                    </p>
                }


                <p>
                    @Html.ActionLink("Export To Excel", "Export", "Credential", new { @class = "btn btn-success" })
                    @*@Html.ActionLink("Export to Pdf", "Pdf", "Unit", new { @class = "btn btn-primary" })*@
                </p>

                <table id="basic-datatable" class="table dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>List Of  Host</th>
                            @if (HttpContext.Current.Session["UserRole"] == null)
                            {
                                <th>Host Username</th>
                                <th>Host Password</th>


                            }
                            <th>List Of  Severs</th>

                            @if (HttpContext.Current.Session["UserRole"] == null)
                            {
                                <th>Server Username</th>
                                <th>Sever Password</th>

                            }




                            <th>Date Created</th>
                            @if (HttpContext.Current.Session["UserRole"] == null)
                            {
                                <th>Action</th>

                            }


                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.CredentialSetups)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Host.HostName)
                            </td>
                            @if (HttpContext.Current.Session["UserRole"] == null)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.HostUsername)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HostPassword)
                                </td>
                            }


                            <td>
                                @Html.DisplayFor(modelItem => item.Inventory.ServerName)
                            </td>
                            @if (HttpContext.Current.Session["UserRole"] == null)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.ServerUsername)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ServerPassword)
                                </td>
                            }



                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>

                            @if (HttpContext.Current.Session["UserRole"] == null)
                            {
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary", @style = " margin-bottom:10px" })
                                    @*@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-success", @style = " margin-bottom:10px" })*@
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger", @style = " margin-bottom:10px" })
                                </td>
                            }






                        </tr>

                         }



                    </tbody>
                </table>
            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
<!-- end row-->
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script src="~/scripts/toastr.js"></script>
<script>
                        $(function () {
                            var a = '@TempData["Success"]';
                            if (a != '')
                                toastr.success("", a);
                            ({
                               "displayTime": 4000,
                                 "message": "Toast ",
                                 "visible": true
                            });
                            //alert("ab" + a)
                            window.location = '#2249506';
                        })
</script>

