

@model CYBInfrastructure.Web.Models.LocationListViewModel


@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<h2> welcome User </h2>



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Location   </h4>

                <p class="text-muted font-13 mb-4">
                    List Of Office Location
                </p>

                <p class="text-muted font-13 mb-4">
                    <a class="btn btn-primary" style=" margin-bottom:10px" href="/Location/Create" id="toast"><i class="fa fa-plus"></i> Add New</a>


                </p>
                <p class="col-md-offset-0">
                    @Html.ActionLink("Export To Excel", "Export", "Location", new { @class = "btn btn-success" })
                    @*@Html.ActionLink("Export to Pdf", "Pdf", "Location", new { @class = "btn btn-primary" })*@
                </p>

                <table id="basic-datatable" class="table dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>Name of Location</th>
                            <th> Date Created</th>
                            <th>Description</th>
                            <th>Action</th>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.Locations)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LocationName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                                    @*@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-success" })*@
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                                </td>

                            </tr>

                        }



                    </tbody>
                </table>

            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
<!-- end row-->


<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script src="~/scripts/toastr.js"></script>
<script>
                        $(function () {
                            var a = '@TempData["Success"]';
                            if (a != '')
                                toastr.success("", a);

                            //alert("ab" + a)
                            window.location = '#2249506';
                        })
</script>





@*<script type="text/javascript">
        $(document).ready(function () {
            $("#showtoast").click(function () {
                toastr.error("fatal error", "fatal");
            })
        });
    </script>*@





