@model CYBInfracstructure.DataStructure.Entities.Unit

@{
    ViewBag.Title = "Edit Unit";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Edit Unit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        <label class="control-label col-md-2"> Name Of Unit</label>
        <div class="col-md-3">
            @Html.EditorFor(model => model.UnitName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UnitName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2"> Date </label>
        <div class="col-md-3">
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.DepartmentId, "DepartmentId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DepartmentId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
            </div>
        </div>*@
    <div class="form-group">
        <label class="control-label col-md-2 ">List Of Department</label>
        <div class="col-md-3">
            <select name="DepartmentId" class="form-control">
                <option>Select Department</option>
                @foreach (var item in ViewBag.departments)
                {
                    <option id="@item.Id" @(item.Id == Model.DepartmentId ? "selected" : "") value="@item.Id">@item.DepartmentName</option>
                }
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">List Of Locations</label>

        <div class="col-md-3">
            <select name="LocationId" class="form-control">
                <option>Select Location</option>
                @foreach (var item in ViewBag.locations)
                {
                    <option id="@item.Id" @(item.Id == Model.Department.LocationId ? "selected" : "") value="@item.Id">@item.LocationName</option>
                }
            </select>

        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" onclick="return confirm('Do you want to save the data')" />
            @*<a href="/Unit/Index" onclick="return confirm('Are you agree to go to that link?');">click me!</a>*@
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

