@model CYBInfracstructure.DataStructure.Entities.UsersInRoles

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UsersInRoles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Role.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.RoleName, "Role Name")
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.UserAccount.StaffName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAccount.StaffName, "Staff Name")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserAccount.StaffID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAccount.StaffID, "Staff ID")
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
