@model CYBInfracstructure.DataStructure.Entities.Inventory
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.LocationName, "Location")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit.UnitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit.UnitName, "Unit")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServerName, "Server Name")
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date, "Date")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HostName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HostName, "Host Name")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryIP, "Primary IP")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondaryIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondaryIP, "Secondary IP")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description, "Description")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VLAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VLAN, "VLAN")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gateway)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gateway, "Gateway")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Environment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Environment, "Environment")
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ServerType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServerType, "Server Type")
        </dd>*@

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" onclick="return confirm('Are you Sure You Want to Delete This ?')" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
       
    }
</div>
