@model CYBInfracstructure.DataStructure.Entities.Services
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Edit Service</h2>

@using (Html.BeginForm("Edit", "Service", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    <hr />

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <p></p>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <label class="control-label col-md-0">Service Name</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"> Date </label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <p></p>
        <div class="form-group">
            <label class="control-label col-md-0"> Description</label>

            <div class="col-md-3">
                @Html.TextAreaFor(e => e.Description, 5, 50, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6"> Port Number</label>

            <div class="col-md-3">
                @Html.EditorFor(model => model.Port, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6"> Url</label>

            <div class="col-md-3">
                @Html.EditorFor(model => model.URL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.URL, "", new { @class = "text-danger" })

            </div>
        </div>


        <p></p>
        <div class="form-group">
            <label class="control-label col-md-0">Inventory</label>

            <div class="col-md-3">
                <select name="InventoryId" class="form-control">
                    <option>Select Inventory</option>
                    @foreach (var item in ViewBag.Invent)
                    {
                        <option id="@item.Id" @(item.Id == Model.InventoryId ? "selected" : "") value="@item.Id">@item.ServerName</option>
                    }
                </select>


            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-0 " font size="10">Is Active?</label>
            @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "control-label col-md-0 " } })
        </div>

        <div class="form-group">
            <div class="control-label col-md-0" @*class="col-md-offset-6 col-md-12"*@>
                <input type="submit" value="Save" class="btn btn-primary" onclick="return confirm('Do you want to save the data')" />
            </div>
        </div>


    </div>


}

<div class="control-label col-md-0">
    @Html.ActionLink("Back to List", "Index")
</div>

